<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>

{% include nav.html %}
{% include landing.html %}

<br/>
<!--<div class="section">-->
    <!--<h1>Service</h1>-->
    <!--<p>EXIT에서 제공하는 서비스를 소개합니다</p>-->
<!--</div>-->

<div class="section text-center making-homepage">
    <br/><br/><br/><br/>
    <h2 class="title">온라인에 나를 표현하다</h2>
    <p class="subtitle">가장 쉽고 아름답게 당신의 홈페이지를 만들어드리겠습니다.</p>
    <br />
    <img src="/public/img/mac.jpg" width="70%">
    <br/><br/><br/>
    <h2 class="title">어디서부터 시작해야할지 모른다면</h2>
    <br/>
    <div class="content">
        <p class="batang">
            지금까지 홈페이지 개발은 어려웠습니다. 직접 개발하지 않더라도 생소한 용어와 부담되는 가격으로 인해 시도조차 못하고 포기하는 사람들도 있었습니다. <br/><br/>
            이젠 저희가 최대한 고객의 입장에서 맞춰서 도와드리겠습니다. <br/><br/>

            인터넷은 이제 모든 사물과 연결되기 시작하고, 온라인의 중요성은 점점 커져갑니다.<br/>
            이러한 시대의 흐름에 맞춰 온라인 상에 자신만의 공간을 만들 수 있도록 도와드리겠습니다.
        </p>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>

<div id="campus" class="banner text-center">
    <img src="/public/img/shuttlecock.png" width="250px">
    <br/>
    <br/>
    <h1>셔틀콕</h1>
    <p>셔틀버스를 이용하는 가장 똑똑한 방법</p>
    <br/>
    <a href="#" id="google_play_button" class="button">
        <img src="./public/img/google_play_logo.png" width="200px"/>
    </a>
</div>
<br/>
<br/>

<div id="company">
    <h2>Partnership</h2>
    <p>
        EXIT는 한양대학교 ERICA 창업팀에 소속되어있습니다.
    </p>
    <div>
        <img src="/public/img/knowledge_factory.png" style="width:200px; height:auto">
        <img src="/public/img/hanyang_erica_logo.png" style="margin-bottom:85px">
    </div>
</div>
<div style="text-align:center; padding: 0px 10%;">

</div>

{% include footer.html %}

</body>

</html>
